@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Fonts
-------------------------- */

$font-main: "Source Sans Pro", Arial, sans-serif;

/* Basic colors
-------------------------- */

$color-dark-blue: #242d33;
$color-blue: #008ce1;

$color-fb: #3B5998;
$color-twitter: #00ACED;
$color-gplus: #DD4B39;

$global-radius: 3px;
$color-medium-white: white;

/* Breakpoints
-------------------------- */

$desktop-min: 1024px;